{
	"src/*.js": [
		"prettier --write --list-different",
		"eslint --fix --ignore-pattern '!.eslintrc.js'"
	],
	"__tests__/*.js": [
		"prettier --write --list-different",
		"eslint --fix --ignore-pattern '!.eslintrc.js'"
	]
}
